/*
colours used

Buttons and links (light-gold): #ad974f
Button Hover (dark-gold):#8e793e
background and text(white): #ffffff
text (black): #000000
text and background (dark-grey): #231f20
small text (light-grey): #eaeaea




/* Text Styles */

body{
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

h1{
  font-family: 'Merriweather', serif;
  font-size: 40px;
  font-weight: 700;
  color: #8e793e;
}

h1 span {
  font-size: 30px;
  font-weight:400;
  margin-top: 8px;
  display: block;
}

h2{
  font-family: 'Merriweather', serif;
  font-size: 40px;
  font-weight: 700;
}

h3{
  font-family: 'Merriweather', serif;
  font-size: 32px;
  font-weight: 400;
}

.copyright {
  font-size: 14px;
}

.center {
  text-align: center;
}

/* link styles */

a {
  text-decoration: none;
  color: #8e793e;
}

a:visited {
  color: #8e793e;
}

a:hover,
a:focus {
  color: #eaeaea;
}

a:active {
  color: #eaeaea;
}


/* Elements */

.button {
  border: 1px solid #ad974f;
  font-family: inherit;
  background-color: #ad974f;
  color: white !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 1px solid #ad974f;
  transition: 0.2s opacity;
  display: inline-block;
}

.button:hover,
.button:focus {
  cursor: pointer;
  background-color: #8e793e;
}



/* Layout styling */

* {
  box-sizing:border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 15px;
  margin:0 auto;
}

.column {
  width: 50%;
  float: left;
  padding: 0 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.mtb20 {
  margin: 20px;
}

.mb {
  margin-bottom: 40px;
}

/* top bar & header layout - styling */

.top-bar {
  display:inline-block;
  width:100%;
  background-color: #000000;
  padding-right: 5px;
}

ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  float: right;
}

nav ul > li {
  display: inline-block;
  float:left;
  margin-left: 25px;
  padding: 14px 16px;
}

nav ul >li> a:last-child  {
  padding-right: 0;
}

.main {
  display: block;
  background-color: #eaeaea;
  padding: 60px;
}


h2 {
  display: block;
  padding-top: 40px;
}


/* layout styling: footer */

footer {
  background-color: #000000;
  color: #8e793e;
}

img{
  max-width: 100%;
}

.resize {
  width:20%;
  height:20%;
}
.social {
  margin: 40px 0;
}


/*Media Queries*/

/* small screen */
@media all and (max-width:650px) {

  h1 {
    font-size: 32px;
  }

  h1 span {
    font-size: 22px
  }

  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }

  .column {
    width: 100%
  }

}
