/*
colours used

Button, links, hover (gold, light gold): #AA9159
Text and button on white background (New gold): #8A7445
Text (dark gold): #867348
background: #fff
inner background (dark): #fafafa
header background: #151413
text (black): #000
text and background (dark-grey): #231f20
text (light-grey): #eaeaea
medium grey: #767676

/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

main {
  padding-top: 114px;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 40px;
  font-weight: 700;
  color: #eaeaea;
  background-color: inherit;
}

h1 span {
  font-size: 30px;
  font-weight: 400;
  margin-top: 8px;
  display: block;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 35px;
  font-weight: 700;
}

h2 {
  display: block;
  padding: 40px;
  margin: 0 60px;
  overflow: hidden;
  text-align: center;
}

h2::before,
h2::after {
  background-color: #aa9159;
  color: inherit;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 20%;
}

h2::before {
  right: 0.5em;
  margin-left: -50%;
}

h2::after {
  left: 0.5em;
  margin-right: -50%;
}

h3 {
  font-family: 'Merriweather', serif;
  font-size: 32px;
  font-weight: 400;
}

h3.sub {
  line-height: 0;
}

h3.overview {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  padding-top: 20px;
}

h4 {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  font-weight: 700;
}

.grey {
  color: #696969;
  padding: 0 50px 30px;
  margin: 40px;
  background-color: inherit;
}

.greytwo {
  color: #767676;
  padding-bottom: 10px;
  background-color: inherit;
}

.copyright {
  font-size: 14px;
}

.center {
  text-align: center;
}

cite {
  display: block;
  font-size: 0.8125rem;
  color: #767676;
  background-color: inherit;
}

i,
cite {
  font-style: italic;
}

cite::before {
  content: '\2014 \0020';
  color: #767676;
  background-color: inherit;
}

/* link styles */

a {
  text-decoration: none;
  color: #eaeaea;
  background-color: inherit;
}

a:visited {
  color: #eaeaea;
  background-color: inherit;
}

a:hover,
a:focus {
  color: #aa9159;
  background-color: inherit;
}

a:active {
  color: #aa9159;
  background-color: inherit;
}

nav ul li a {
  display: inline-block;
}

nav ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 1.5px;
  background: #aa9159;
  transition: width 0.3s;
  color: inherit;
}

nav ul li a:hover::after {
  width: 100%;
  transition: width 0.3s;
}

a.link2,
a.link2:active {
  color: #000;
  background-color: inherit;
}

a.link2:focus {
  cursor: pointer;
}

a.itlink {
  color: #aa9159;
  display: inline-block;
  background-color: inherit;
}

a.itlink::after {
  content: '';
  display: block;
  width: 0;
  height: 1.5px;
  background: #aa9159;
  transition: width 0.3s;
  color: inherit;
}

a.itlink:hover::after {
  width: 100%;
  transition: width 0.3s;
}

#work-section {
  padding-top: 100px;
  margin-top: -100px;
}

#about-section {
  padding-top: 100px;
  margin-top: -100px;
  background-color: #fafafa;
}

#process-section {
  padding-top: 100px;
  margin-top: -100px;
}

#contact-section {
  padding-top: 100px;
  margin-top: -100px;
}

/* button-Elements */
.button {
  border: 2px solid #aa9159;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  color: #fff !important;
  background-color: inherit;
  text-decoration: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 1px;
  transition: 0.5s background-color;
  display: inline-block;
}

.button {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.button:hover,
.button:focus {
  cursor: pointer;
  background-color: #aa9159;
  color: inherit;
  border-width: 2px;
}

.buttontwo {
  border: 1px solid #8a7445;
  font-family: inherit;
  color: #8a7445 !important;
  background-color: inherit;
  text-decoration: none;
  padding: 5px;
  border-radius: 1px;
  transition: 0.5s background-color;
  display: inline-block;
}

.buttontwo {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.buttontwo:hover,
.buttontwo:focus {
  cursor: pointer;
  background-color: #000;
  border-width: 1px;
  border: 1px solid;
  color: inherit;
}

/* LAYOUT */
.column {
  width: 50%;
  float: left;
  padding: 0 15px;
}

.row {
  background-color: #fff;
  color: inherit;
  float: none;
  margin: 24px 24px 70px;
  padding: 5%;
  position: relative;
  display: block;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row_nob {
  float: none;
  margin: 24px;
  padding: 5%;
  position: relative;
  display: block;
  border-radius: 3px;
}

.row_nob::after {
  content: "";
  display: table;
  clear: both;
}

.page {
  max-width: 850px;
}

/* TOP BAR & HEADER */
header {
  width: 100%;
  background-color: #151413;
  color: inherit;
  position: fixed;
  z-index: 999;
  overflow: hidden;
}

nav {
  overflow: hidden;
  padding: 0;
  display: inline-block;
  float: right;
  margin-top: 31px;
}

nav ul {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-left: 25px;
  padding: 14px 16px;
  float: left;
}

.menu {
  margin-left: 535px;
  padding-left: 425px;
}

.main {
  display: block;
  padding: 50px;
  background-color: #151413;
  color: inherit;
}

i.fa.fa-chevron-circle-down {
  text-align: center;
  display: inline-block;
  position: relative;
}

.fa-caret-down {
  color: #151413;
  background-color: inherit;
}

/* FOOTER */
footer {
  background-color: #151413;
  color: #eaeaea;
  padding: 20px;
}

.social {
  margin: 40px 0;
}

/* SPACE (margin(m), top(t), bottom(b),padding) */
.mtb20 {
  margin: 20px;
}

.mb {
  margin-bottom: 60px;
}

.mp-button {
  margin-top: 40px;
  padding: 20px 20px 40px;
}

.movedown {
  position: relative;
  top: 20px;
}

.movemoredown {
  padding-top: 60px;
}

.movedowntwo {
  margin-top: 30px;
  margin-bottom: 30px;
}

.moveup {
  position: relative;
  bottom: 35px;
}

.moveupmain {
  position: relative;
  bottom: 55px;
}

.bottom-space {
  padding: 0 20px 100px;
}

.bg {
  width: 100%;
  z-index: 0;
}

.fi-x::before {
  content: "\f00d";
}

.hero {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.max_2 {
  padding: 0 90px;
  margin: 0 40px;
}

.light {
  background-color: #fff;
  color: inherit;
  padding: 20px 48px;
}

.topandbottom {
  padding: 100px 0;
  margin: 0;
}

.top-space {
  padding: 30px;
}

.topspace {
  padding: 40px;
}

.resizetwo {
  width: 50%;
}

.pr {
  padding: 0;
  padding-right: 20px;
}

.down {
  margin-top: 40px;
  margin-bottom: 5px;
}

/* project pages */
.project-page header {
  text-align: center;
}

.project-page header .container {
  display: inline-block;
}

/* Image styling */
img {
  width: 100%;
}

img.middle {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.resize {
  max-width: 300px;
}

.resizelogo {
  max-width: 83px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.resizetwo {
  width: 50%;
}

.resizethree {
  width: 70%;
}

.resizefour {
  width: 60%;
}

.toolsize {
  max-width: 4em;
  margin: 0.5em 1em 1em 0;
}

.toolsizetwo {
  max-width: 14em;
  margin-bottom: 16px;
}

.toolsizethree {
  max-width: 4.86em;
  margin-bottom: 12px;
}

.laptop {
  background: url(../img/Interview.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* COLOR STYLING */
.dark {
  background-color: #fafafa;
  color: inherit;
  border-bottom: #ddd solid 1px;
  padding: 20px 0 0;
}

.darkabout {
  background-color: #fafafa;
  color: inherit;
  border-bottom: #ddd solid 1px;
  padding: 50px 0;
}

.gold {
  color: #8a7445;
  background-color: inherit;
}

.lightgold {
  color: #aa9149;
  background-color: inherit;
}

/* ABOUT PORTFOLIO */
p.intro {
  font-size: 24px;
  color: #8a7445;
  background-color: inherit;
  line-height: 1.3em;
  margin-bottom: 0.7em;
  clear: both;
}

.max {
  padding: 30px 90px;
  margin: 40px;
}

/* ANIMATION */
@keyframes fadeIn {
  0% { opacity: 0; }

  100% {
    opacity: 1;
    display: block;
  }
}

.fade {
  animation: fadeIn 2.5s alternate;
  visibility: visible !important;
}

@keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}

.fade {
  animation: fade 1.5s alternate;
}

/* SLIDESHOW */
.mySlides1,
.myslides2 {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  outline: none;
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  margin-top: -30px;
  background-color: rgba(0, 0, 0, 0.12);
  display: inline-block;
  padding: 10px;
  transition: 0.6s ease;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #151413;
  color: inherit;
}

/* The dots/bullets/indicators */
.dot,
.dot2 {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 10px 2px;
  background-color: #bbb;
  color: inherit;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover,
.dot2:hover {
  background-color: #aa9159;
  color: inherit;
}

/* PROCESS */

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #000;
  color: inherit;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timelineline {
  padding: 10px 40px;
  position: relative;
  width: 50%;
}

/* The circles on the timeline */
.timelineline::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  color: inherit;
  border: 4px solid #aa9459;
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0%;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Arrows to the left container (pointing right) */
.fa-caret-right {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 41px;
  color: #fff;
  text-shadow: 1.4px 0.6px 3px rgba(0, 0, 0, 0.09);
}

.timelineline.left .fa-caret-left {
  display: none;
}

/* Arrows to the right container (pointing left) */
.fa-caret-left {
  content: "f0da";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  color: #fff;
  text-shadow: -1.4px 0.6px 3px rgba(0, 0, 0, 0.09);
}

/* The circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #fff;
  color: inherit;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.content ol li {
  list-style-type: circle;
}

.content ol {
  padding: 20px;
  margin-top: 0;
}

/* VIDEO */
iframe {
  border: 0;
}

/* MEDIA QUERIES */

/* small screen */
@media all and (max-width: 767px) {
  header {
    display: inline-block;
    text-align: center;
  }

  h1 {
    font-size: 32px;
  }

  h1 span {
    font-size: 14px;
  }

  h2 {
    font-size: 32px;
    margin: 0 10px;
    padding: 20px;
  }

  h2::before,
  h2::after {
    content: none;
  }

  h3 {
    font-size: 24px;
  }

  h3.sub {
    font-size: 22px;
  }

  .column {
    width: 100%;
    padding: 0;
  }

  nav {
    overflow: unset;
    float: none;
    width: 100%;
    margin-top: 0;
  }

  nav li {
    margin-left: 0;
    padding: 0;
    width: 25%;
    text-align: center;
  }

  nav ul {
    float: none;
    padding: 0 0 20px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #aa9159;
    margin-bottom: 20px;
  }

  .resizelogo {
    max-width: 75px;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  #work-section {
    padding-top: 190px;
    margin-top: -190px;
  }

  #about-section {
    padding-top: 100px;
    margin-top: -100px;
  }

  #process-section {
    padding-top: 190px;
    margin-top: -200px;
  }

  #contact-section {
    padding-top: 190px;
    margin-top: -200px;
  }

  .project-page .main {
    padding: 30px 0 20px;
  }

  .project-page nav {
    overflow: unset;
    float: none;
    width: 100%;
    margin-top: 0;
  }

  .project-page nav ul {
    float: none;
    padding: 0;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #aa9159;
    margin-bottom: 40px;
  }

  .project-page nav {
    margin-top: 0;
  }

  .project-page nav li {
    float: right;
    margin-top: -66px;
  }

  .project-page .resizelogo {
    float: left;
    max-width: 69px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button {
    width: 85%;
    margin: 10px 0 0;
  }

  .mp-button {
    margin: 0;
  }

  .mtb20 {
    margin: 0;
  }

  .main {
    padding: 81px 0 20px;
  }

  .dark {
    padding: 40px 0;
  }

  .darkabout {
    padding: 30px 0;
  }

  .row {
    margin: 20px 0 40px;
  }

  .max {
    margin: 60px 0;
    padding: 0;
  }

  .resize {
    width: 80%;
  }

  img.resizetwo {
    width: 90%;
  }

  img.resizethree {
    width: 100%;
  }

  img.resizefour {
    width: 80%;
    padding: 0 0 20px;
  }

  video {
    width: 100%;
    height: auto;
  }

  iframe {
    width: 100%;
  }

  .prev,
  .next {
    padding: 2px 12px;
  }

  .page {
    width: 100%;
  }

  /* Place the timelime to the left */
  .timeline::after {
    left: -23px;
  }

  /* Full-width containers */
  .timelineline {
    width: 100%;
    padding-left: 5px;
  }

  .top-space,
  #process .container,
  .timelineline {
    padding-right: 0;
  }

  /* Make sure that all arrows are pointing leftwards */
  .fa-caret-left {
    left: -5px;
  }

  .timelineline.left .fa-caret-left {
    display: inherit;
  }

  .timelineline.left .fa-caret-right {
    display: none;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: -40px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  .content {
    padding: 20px 10px;
  }

  .row_nob {
    margin: 20px 0;
    padding: 0;
  }

  .row_nob .column {
    margin-bottom: 40px;
    padding-top: 20px;
  }

  .menu {
    margin-left: 0;
    padding-left: 0;
  }
}

@media only screen and (min-width: 768px) {
  .top-space {
    padding: 30px 0;
  }

  .timelineline.left {
    padding: 10px 40px 10px 10px;
  }

  .timelineline.right {
    padding: 10px 10px 10px 40px;
  }
}
