/*
colours used

Button, links, hover (gold): #AA9159
background: #ffffff
inner background: #fafafa
header background: #151413
text (black): #000000
text and background (dark-grey): #231f20
text (light-grey): #eaeaea




/* Text Styles */

body{
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

h1{
  font-family: 'Merriweather', serif;
  font-size: 40px;
  font-weight: 700;
  color:#eaeaea;
}

h1 span {
  font-size: 30px;
  font-weight:400;
  margin-top: 8px;
  display: block;
}

h2{
  font-family: 'Merriweather', serif;
  font-size: 35px;
  font-weight: 700;
}

h3{
  font-family: 'Merriweather', serif;
  font-size: 32px;
  font-weight: 400;
}

.copyright {
  font-size: 14px;
}

.center {
  text-align: center;
}

/* link styles */

a {
  text-decoration: none;
  color: #eaeaea;
}

a:visited {
  color: #eaeaea;
}

a:hover,
a:focus {
  color:  #AA9159;
}

a:active {
  color:#AA9159;
}


/* button-Elements */


.button {
  border: 2px solid #AA9159;
  font-family: inherit;
  background-color: none;
  color: #eaeaea !important;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  margin: 5px;
  border-radius: 1px;
  transition: 0.2s opacity;
  display: inline-block;
}

.button {
  text-transform: uppercase;
  letter-spacing: .2em;
}

.button:hover,
.button:focus {
  cursor: pointer;
  background-color: #AA9159;
  border-width: 2px;
}



/* Layout styling */

* {
  box-sizing:border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 15px;
  margin:0 auto;
}

.column {
  width: 50%;
  float: left;
  padding: 0 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.mtb20 {
  margin: 20px;
}

.mb {
  margin-bottom: 60px;
}

.mp-button {
  margin-top:40px;
  padding: 20px;
}

.movedown {
  position: relative;
  top: 20px;
}

.moveup {
  position:relative;
  bottom: 32px;
}

/* top bar & header layout - styling */

header {
  width:100%;
  background-color:#151413;
}

nav {
  overflow: hidden;
  padding: 0;
}

nav ul {
  list-style-type: none;
  float:right;
}

nav li {
  display: inline-block;
  margin-left: 25px;
  padding: 14px 16px;
  float: left;
}


.main {
  display: block;
  padding: 50px;
  background-color:#151413;
}

i.fa.fa-chevron-circle-down {
  text-align: center;
  color: #151413;
  display: inline-block;
  position: relative;
}


/* h2 heading styling */

h2 {
  display: block;
  padding: 40px;
  margin: 30px 60px 0px;
  overflow: hidden;
  text-align: center;
}

h2:before,
h2:after {
  background-color: #AA9159;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 30%;
}
h2:before {
  right: 0.5em;
  margin-left: -50%;
}
h2:after {
  left: 0.5em;
  margin-right: -50%;
}


/* footer layout styling */

footer {
  background-color: #151413;
  color: #eaeaea;
}

.social {
  margin: 40px 0;
}


/* Image styling */

img{
  max-width: 100%;
}

.resize {
  width:25%;
  height:25%;
}


/* work styling */

.dark {
  background-color: #fafafa;
  border-bottom: #dddddd solid 1px;
  padding: 48px 48px 0px;
}

.row {
  background-color: #ffffff;
  float: none;
  margin:24px 24px 70px 24px;
  padding: 5% 5% 5% 5%;
  position: relative;
  display: block;
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.gold {
  color: #AA9159;
}


/* About styling */

p.intro {
  font-size: 24px;
  color: #AA9159;
  line-height: 1.3em;
  margin-bottom: 0.7em;
  clear: both;
}

.max {
  padding:30px 90px;
  margin: 40px;
}


/*Media Queries*/

/* small screen */
@media all and (max-width:650px) {

  h1 {
    font-size: 32px;
  }

  h1 span {
    font-size: 22px
  }

  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }

  .column {
    width: 100%;
  }


}
